body{

  background-color: #3D0814;

  
}





.sidebar{
  display: flex;
  margin-top: 15px;
  height: 100vh;
  
}

ul{
  list-style-type: none;
}

/* Sidebar */
.sidebar-list-styling{
  padding-left: 50px;
  padding-top: 15px;
  width: 25%;
  
  background-color: transparent;
  color: #DFE2CF;
  
  
}

.sidebar-list a{
  color: #DFE2CF;
  margin-bottom: 5vh;;
  padding: 0;
  font-size: 5vh;
  text-decoration: none;
  
  
}

.sidebar-route{
  flex: 1;
  padding: '00px';
  

}

.title{
  font-size: 15vh;
  text-align: center;
  color: #DFE2CF;
  text-decoration: underline;
  text-decoration-color: #FF934F;
}


